.row
  .col-md-3.col-md-offset-3
    //- .form-group
      input.form-control(type="text", id="search_query", name="search_query", ng-model="searchAttrs.query", placeholder="CPF/CNPJ", ui-br-cpfcnpj-mask)
      //- input.form-control(type="text", id="search_query", name="search_query", ng-model="searchAttrs.query", placeholder="{{searchAttrs.type==='NAME' ? 'Nome' : 'Habilitação'}}")
    //- .form-group
      input(type="checkbox", id="searchByName", name="searchByName", ng-model="searchAttrs.type", ng-true-value="'NAME'", ng-false-value="'NONE'")
      | &nbsp;Nome&nbsp;&nbsp;&nbsp;&nbsp;
      input(type="checkbox", id="searchByLicense", name="searchByLicense", ng-model="searchAttrs.type", ng-true-value="'LICENSE'", ng-false-value="'NONE'")
      | &nbsp;Habilitação

  //- .col-md-3
    .form-group
      .input-group
        button.btn.btn-default(ng-click="search()") Pesquisar &nbsp;&nbsp;&nbsp;
          i.fa.fa-search


.row
  .col-md-12
    rd-widget
      rd-widget-header(icon="fa-tasks",title="Ordens de Serviço", ng-if="!ordersShowOne")
      rd-widget-body(classes="{{!loadingOrders && orders.length>0 ? 'no-padding' : ''}}")
        rd-loading(ng-if="loadingOrders")
        uib-alert(type="info", ng-if="!loadingOrders && orders.length==0")
          p.text-center.vertical-align-middle Esta seção não possui items cadastrados.        
        
        .container-fluid(ng-show="!loadingOrders")
          //- .row.mg-top-20

          .row.mg-top-20
            .panel.panel-default.col-md-12(ng-repeat='order in orders')
              .row.mg-top-10
                .col-md-3.mg-top-5
                  p.mg-0
                    span.gray-txt Código da Ordem:&nbsp;
                    span {{order.id}}
                  p.mg-0
                    a.label.label-default(ui-sref='base.budget_show({budgetId: order.budget_id})')
                      span Visualizar Orçamento&nbsp;
                      i.fa.fa-external-link
                .col-md-4.mg-top-5
                  p.mg-0
                    span.gray-txt Cliente:&nbsp;
                    span {{order._expanded.customer.name}}
                  p.mg-0
                    span.gray-txt CPF/CNPJ:&nbsp;
                    input.no-border(type="text", ng-model="order._expanded.customer.national_registration_number", ng-disabled="true", ui-br-cpfcnpj-mask)
                .col-md-3.mg-top-5
                  p.mg-0
                    span.gray-txt Total:&nbsp;
                    input.no-border.width-100(type="text", ng-model="order.total", ng-disabled="true", ui-money-mask="maskDecimals")
                  
                  
                .col-md-2
                  .pull-right
                    .btn-group.btn-group-sm(ng-if="!ordersShowOne")
                      a.btn.btn-default(ui-sref='base.order_show({orderId: order.id})')
                       i.fa.fa-file-text-o.fa-lg
                      | &nbsp;
                    //- .btn-group.btn-group-sm
                      button.btn.btn-primary(ng-click="edit(order)")
                       i.fa.fa-edit.fa-lg
                      | &nbsp;
                    //- .btn-group.btn-group-sm
                      button.btn.btn-danger(ng-click="delete(order)")
                       i.fa.fa-remove.fa-lg


              .row.mg-0
                .col-md-3
                  p.mg-0
                    span.txt-11.gray-txt-light.italic-txt Adicionado em 
                    span.txt-11.gray-txt-light.italic-txt(ng-model="order.created_at", br-date-mask)
                .col-md-3
                  p.mg-0
                    span.txt-11.gray-txt-light.italic-txt Atualizado em 
                    span.txt-11.gray-txt-light.italic-txt(ng-model="order.updated_at", br-date-mask)

          

      rd-widget-footer(ng-if="!ordersShowOne")
        uib-pagination.pagination-sm.pull-right(total-items="pagination.totalCount", ng-model="pagination.currentPage",ng-change="pageChanged()", first-text="Primeira", last-text="Última", next-text="Proxima", previous-text="Anterior", max-size="pagination.maxSize", items-per-page="pagination.perPage")
        .clearfix